@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredericka+the+Great&family=Montserrat:wght@700&family=Poppins&family=Roboto&family=Zen+Antique+Soft&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

html,
body {
	scroll-behavior: smooth;
}
